<div class="container">
    <form [formGroup]="group">
        <app-form-row controlName="user">
            <label>User</label>
            <input smpInput control formControlName="user">
        </app-form-row>

        <app-form-row controlName="pass">
            <label>Password</label>
            <input smpInput control formControlName="pass">
        </app-form-row>

        <app-form-row controlName="type">
            <label>User Type</label>
            <smp-select control formControlName="type" size="small">
                <smp-select-option *ngFor="let type of types" [value]="type">{{type}}</smp-select-option>
            </smp-select>
        </app-form-row>
    </form>
</div>
